html {
  box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", serif;
}
p.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  margin: 29px 0px 25px 0px;
  color: #b4ad9e;
}
.container {
  width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 0;
}
.container p {
  font-size: 14px;
}
h2 {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 34px;
  font-weight: 400;
}
h2 + p {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}
  
  img {
  display: block;
  max-width: 100%;
  height: auto;
}
li.nav-list {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
li.nav-list:not(:last-child) {
  margin-right: 100px;
}
.nav-list a {
  text-decoration: none;
  color: #626262;
}
.nav-list a:hover,
.nav-list a:focus {
  color: #03a9f4;
}
ul.st-nav {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 72px 0px 99px 0px;
  padding-top: 77px;
  padding-bottom: 104px;
}
  
article.content {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}
article.content:nth-child(2n) {
  margin-right: 0;
}
article.content:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
  
div {
  text-align: center;
}

.but {
  cursor: pointer;
  padding: 16px 32px;
  display: inline-block;
  border: 1px solid #626262;
  font-size: 20px;
  color: #626262;
  font-family: "Playfair Display";
  line-height: 24px;
  font-weight: 400;
  background: none;
  margin-bottom: 70px;
}
 