.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix {
    overflow: hidden;
}

body {
color: #555252;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    padding: 33px 0 50px;
}

.navigation {
    margin: 0;
    padding: 0;
    width: 1110px;
}

.navigation > a {
    float: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-decoration: none;
    color: #555252;
}

.navigation > a::first-letter {
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navigation-ul {
    float: right;
    width: 465px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    list-style: none;
}

.navigation-li {
    display: block;
    float: left;
}

.navigation-li:not(:last-child) {
    margin-right: 34px;
}

.navigation-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 11px;
    font-weight: 700;
    color: #0f0101;
}

.navigation-li a:hover,
.navigation-li a:focus {
    color: #1abc9c;
}


h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(81, 81, 81);
}

h2::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgb(26, 188, 156);
    content: "";
    margin: 0 auto;
    margin-top: 35px;
}

.news-title {
    margin-bottom: 95px;
}

.product-title {
    margin-bottom: 85px;
}

.product {
    padding: 50px 0 100px;
}

.product-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-item {
    float: left;
    width: 255px;
    height: 322px;
}

.product-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.product-item:nth-last-child(n + 5) {
    margin-bottom: 30px;
}

.product-item:hover .product-name {
    background-color: #1abc9c;
}

.product-item:hover .product-price {
    background-color: #7fd9c7;
}

.product-image {
    height: 282px;
    overflow: hidden;
}

.backgrndfix {
    background-color: #e9f0fd;
}

.bag {
    max-width: 200px;
    margin: 15px auto 0;
}

.glasses {
    max-width: 235px;
    margin: 97px auto 0;
}

.product-footer {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    width: 255px;
}

.product-name {
    float: left;
    width: 200px;
    height: 40px;
    background-color: #323232;
}

.product-name a {
    padding-left: 15px;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.product-price {
    float: right;
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
}

.product-price a {
    padding-left: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
}

.news {
    margin: 0;
    padding: 10px 0 80px;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-item {
    float: left;
    text-align: left;
    width: 350px;
}

.post-item:not(:last-child) {
    margin-right: 30px;
}

.post-image {
    margin-bottom: 10px;
}

h3 {
    margin:0;
    padding: 0;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
}

h3::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    content: "";
    margin-top: 10px;
}

.post-text {
    margin: 0;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #4ec6ab;
    padding: 0;
    width: 160px;
    height: 50px;
    font-size: 16px;
    border-style: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}
